#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    background-color: #f3f6fb;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
    .img-icon{
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    //安全环保
    .realMonitoring{background-image: url('../assets/sidebar/security/realMonitoring.png')}
    .faultInformation{background-image: url('../assets/sidebar/security/faultInformation.png')}
    .dataRecord{background-image: url('../assets/sidebar/security/dataRecord.png')}
    .history{background-image: url('../assets/sidebar/security/history.png')}
    .statisticalAnalysis{background-image: url('../assets/sidebar/security/statisticalAnalysis.png')}
    .basicData{background-image: url('../assets/sidebar/security/basicData.png')}
    .location{background-image: url('../assets/sidebar/security/location.png')}
    .inspection{background-image: url('../assets/sidebar/security/inspection.png')}
    .siti{background-image: url('../assets/sidebar/security/siti.png')}
    .riskStatisticalAnalysis{background-image: url('../assets/sidebar/security/riskStatisticalAnalysis.png')}
    .cameraSetting{background-image: url('../assets/sidebar/security/cameraSetting.png')}
    //设备
    .equipment{background-image: url('../assets/sidebar/device/equipment.png')}
    .monitor{background-image: url('../assets/sidebar/device/monitor.png')}
    .equipmentMaintain{background-image: url('../assets/sidebar/device/equipmentMaintain.png')}
    .repair{background-image: url('../assets/sidebar/device/repair.png')}
    .statistics{background-image: url('../assets/sidebar/device/statistics.png')}
    //仓库
    .warehouse{background-image: url('../assets/sidebar/storage/warehouse.png')}
    .depot{background-image: url('../assets/sidebar/storage/depot.png')}
    //能源
    .realtime{background-image: url('../assets/sidebar/energy/realtime.png')}
    .planManage{background-image: url('../assets/sidebar/energy/planManage.png')}
    .achievements{background-image: url('../assets/sidebar/energy/achievements.png')}
    .analysis{background-image: url('../assets/sidebar/energy/analysis.png')}
    .reportForm{background-image: url('../assets/sidebar/energy/reportForm.png')}
    .basicData{background-image: url('../assets/sidebar/energy/basicData.png')}
    .sysManage{background-image: url('../assets/sidebar/energy/sysManage.png')}

    //生产
    .plan{background-image: url('../assets/sidebar/production/plan.png')}
    .instruct{background-image: url('../assets/sidebar/production/instruct.png')}
    .picking{background-image: url('../assets/sidebar/production/picking.png')}
    .batch{background-image: url('../assets/sidebar/production/batch.png')}
    .please-check{background-image: url('../assets/sidebar/production/please-check.png')}
    .monitor{background-image: url('../assets/sidebar/production/monitor.png')}
    .alarm{background-image: url('../assets/sidebar/production/alarm.png')}
    .daily{background-image: url('../assets/sidebar/production/daily.png')}
    .attendance-record{background-image: url('../assets/sidebar/production/attendance-record.png')}
    .attendance-report{background-image: url('../assets/sidebar/production/attendance-report.png')}
    .handover-shift{background-image: url('../assets/sidebar/production/handover-shift.png')}
    .formula{background-image: url('../assets/sidebar/production/formula.png')}
    .process{background-image: url('../assets/sidebar/production/process.png')}
    .reactor{background-image: url('../assets/sidebar/production/reactor.png')}
    .configuration{background-image: url('../assets/sidebar/production/configuration.png')}
    .statistics{background-image: url('../assets/sidebar/production/statistics.png')}
    //质量管理
    .qc{background-image: url('../assets/sidebar/quality/qc.png')}
    //基础管理
    .common{background-image: url('../assets/sidebar/common/common.png')}
    .personal{background-image: url('../assets/sidebar/common/personal.png')}
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }
    .is-active{
      //安全环保
      .realMonitoring{background-image: url('../assets/sidebar/security/realMonitoring_active.png')}
      .faultInformation{background-image: url('../assets/sidebar/security/faultInformation_active.png')}
      .dataRecord{background-image: url('../assets/sidebar/security/dataRecord_active.png')}
      .history{background-image: url('../assets/sidebar/security/history_active.png')}
      .statisticalAnalysis{background-image: url('../assets/sidebar/security/statisticalAnalysis_active.png')}
      .basicData{background-image: url('../assets/sidebar/security/basicData_active.png')}
      .location{background-image: url('../assets/sidebar/security/location_active.png')}
      .inspection{background-image: url('../assets/sidebar/security/inspection_active.png')}
      .siti{background-image: url('../assets/sidebar/security/siti_active.png')}
      .riskStatisticalAnalysis{background-image: url('../assets/sidebar/security/riskStatisticalAnalysis_active.png')}
      .cameraSetting{background-image: url('../assets/sidebar/security/cameraSetting_active.png')}
       //设备
      .equipment{background-image: url('../assets/sidebar/device/equipment_active.png')}
      .monitor{background-image: url('../assets/sidebar/device/monitor_active.png')}
      .equipmentMaintain{background-image: url('../assets/sidebar/device/equipmentMaintain_active.png')}
      .repair{background-image: url('../assets/sidebar/device/repair_active.png')}
      .statistics{background-image: url('../assets/sidebar/device/statistics_active.png')}
      //仓库
      .warehouse{background-image: url('../assets/sidebar/storage/warehouse_active.png')}
      .depot{background-image: url('../assets/sidebar/storage/depot_active.png')}
      //能源
      .realtime{background-image: url('../assets/sidebar/energy/realtime_active.png')}
      .planManage{background-image: url('../assets/sidebar/energy/planManage_active.png')}
      .achievements{background-image: url('../assets/sidebar/energy/achievements_active.png')}
      .analysis{background-image: url('../assets/sidebar/energy/analysis_active.png')}
      .reportForm{background-image: url('../assets/sidebar/energy/reportForm_active.png')}
      .basicData{background-image: url('../assets/sidebar/energy/basicData_active.png')}
      .sysManage{background-image: url('../assets/sidebar/energy/sysManage_active.png')}

      //生产
      .plan{background-image: url('../assets/sidebar/production/plan_active.png')}
      .instruct{background-image: url('../assets/sidebar/production/instruct_active.png')}
      .picking{background-image: url('../assets/sidebar/production/picking_active.png')}
      .batch{background-image: url('../assets/sidebar/production/batch_active.png')}
      .please-check{background-image: url('../assets/sidebar/production/please-check_active.png')}
      .monitor{background-image: url('../assets/sidebar/production/monitor_active.png')}
      .alarm{background-image: url('../assets/sidebar/production/alarm_active.png')}
      .daily{background-image: url('../assets/sidebar/production/daily_active.png')}
      .attendance-record{background-image: url('../assets/sidebar/production/attendance-record_active.png')}
      .attendance-report{background-image: url('../assets/sidebar/production/attendance-report_active.png')}
      .handover-shift{background-image: url('../assets/sidebar/production/handover-shift_active.png')}
      .formula{background-image: url('../assets/sidebar/production/formula_active.png')}
      .process{background-image: url('../assets/sidebar/production/process_active.png')}
      .reactor{background-image: url('../assets/sidebar/production/reactor_active.png')}
      .configuration{background-image: url('../assets/sidebar/production/configuration_active.png')}
      .statistics{background-image: url('../assets/sidebar/production/statistics_active.png')}
      //质量管理
      .qc{background-image: url('../assets/sidebar/quality/qc_active.png')}
      //基础管理
      .common{background-image: url('../assets/sidebar/common/common_active.png')}
      .personal{background-image: url('../assets/sidebar/common/personal_active.png')}
    }
    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
        .img-icon{
          margin-left: 15px;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

.sub-el-icon{
  width: 20px;
  height: 20px;
}
